/* 
    Created on : Jul 4, 2016, 9:54:34 AM
    Author     : Zhou Shengyun <GGGZ-1101-28@Live.cn>
*/

.ui-icon{
    text-indent: 0;
    margin-top: -8px;
    font-family: 'Material Icons';
    background: none;
    color: black;
}

.ui-icon-close:before{
    font-size: 16px;
    content: 'close';
}

.ui-icon-close{
    font-family: 'Material Icons';
}

.ui-messages-error-icon{
    margin-top: -8px;
    background: none;
}

.ui-messages-error-icon:before{
    font-family: 'Material Icons';
    font-size: 24px;
    content: 'cancel';
}


